<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de PCIs</title>
  <style>
    table {
      border-collapse: collapse; /* Faz as bordas se fundirem */
      width: 100%; /* Ajusta a largura da tabela */
      border: 1px solid black; /* Adiciona uma borda contínua à tabela */
    }
    th, td {
      text-align: center; /* Centraliza o texto nas células */
      border: 1px solid black; /* Adiciona bordas às células */
      padding: 8px; /* Adiciona espaçamento interno às células */
    }
  </style>
</head>
<body>
  <h1>Lista de PCIs</h1>
  <table>
    <thead>
      <tr>
        <td>{{ item['Item'] }}</td>
        <td>{{ item['Lote ID'] }}</td>
        <td>{{ item['Serial Number'] }}</td>
        <td>{{ item['Data de Montagem'] }}</td>
        <td>{{ item['Resultado do Teste'] }}</td>
        <td>{{ item['técnico do teste'] }}</td>
        <td>{{ item['Retrabalho'] }}</td>
        <td>{{ item['Técnico do Retrabalho'] }}</td>
        <td>{{ item['Observações'] }}</td>
      </tr>
    </thead>
    <tbody>
      {% for item in PCI_list %}
      <tr>
        <td>{{ item['lote id'] }}</td>
        <td>{{ item['Serial_Number'] }}</td>
        <td>{{ item['Montada em:'] }}</td>
        <td>{{ item['test. result.:'] }}</td>
        <td>{{ item['tec. teste'] }}</td>
        <td>{{ item['retrabalho'] }}</td>
        <td>{{ item['tèc. retrabalho'] }}</td>
        <td>{{ item['observações'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>